.Reason {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
  background: url(../../assets/bg10.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.reason1 {
  height: 213px;
  width: 228px;
  overflow: hidden;
  border-radius: 7px;
}
img {
  width: 100%;
  height: 100%;
  height: auto !important;
  border-radius: 7px;
  transition: 0.3s ease-in-out;
}
.reason1:hover img {
  transform: scale(1.3);
}
.reason2 {
  width: 355px;
  height: 248px;
  overflow: hidden;
  border-radius: 7px;
}
.Reason span {
  font-size: 3rem;
  color: #01f965;
}
.reasonHeading {
  font-size: 3rem;
  margin-bottom: 3rem;
  @media (max-width: 575px) {
    font-size: 1.7rem !important;
  }
}
.reason2:hover img {
  transform: scale(1.3);
}
.reason4 {
  width: 228px;
  height: 257px;
  overflow: hidden;
  border-radius: 7px;
}

.reason4:hover img {
  transform: scale(1.3);
}
.reason3 {
  width: 355px;
  height: 229px;
  overflow: hidden;
  border-radius: 7px;
}

.reason3:hover img {
  transform: scale(1.3);
}

@media (max-width: 767px) {
  .reasonHeading {
    font-size: 2rem;
    span {
      font-size: 2rem;
    }
  }
  .reasonRight {
    display: none !important;
  }
}
