.SolveTop {
  background: url(../../assets/faqBG2.png) no-repeat;
  background-size: cover;
}
.solve {
  h2 {
    font-size: 3rem;
  }
  span {
    font-size: 3rem;
    color: #0e00d1;
  }
}
.solveLeft p {
  color: rgb(108, 108, 108) !important;
  margin-bottom: 0 !important;
}
.solveLeft i {
  color: rgb(0, 11, 71);
  font-size: 23px;
  overflow: hidden;
}
.solveMain {
  padding: 0 50px;
}
@media (max-width: 575px) {
  .solveLeft i {
    border: none !important;
    overflow: hidden;
    color: rgb(0, 11, 71);
  }
}
