.SolveTop {
  background: url(../../assets/faqBG2.png) no-repeat;
  background-size: cover;

}
.solve {
  h2 {
    font-size: 3rem;
  }
  span {
    font-size: 3rem;
    color: #01f965;
  }
}
.solveLeft p {
  color: rgb(108, 108, 108) !important;
  margin-bottom: 0 !important;
}
.solveLeft i {
  border: 1px solid rgb(0, 0, 77);
  color: rgb(0, 11, 71);
}
.solveMain {
  padding: 0 50px;
}
